@import "imports/section.sss";

.ComponentName {
  color: cyan;
}

.ComponentName.is-stateName {
  color: crimson;
}

.ComponentName--modifierName {
  color: yellow;
}

.ComponentName-descendentName {
  color: navy;
}
