@import "imports/section.sss";

@component ComponentName
  color: cyan;

  @modifier modifierName
    color: yellow;

  @descendent descendentName
    color: navy;

  @when stateName
    color: crimson;
